<div class="container p-5" *ngIf="showTabela">
  <div class="border boder-light rounded p-5">
    <div>
      <button type="button" class="btn btn-sm btn-primary" (click)="CadastroProdutoForm()">
        Novo Produto
      </button>
    </div>

    <hr/>

    <table class="table table-bordered table-hover table-sm" *ngIf="produtos">
      <tr class="thead-light">
        <th class="text-center">Nome</th>
        <th class="text-center">Código de Barras (EAN-13)</th>
        <th class="text-center">Preço</th>
        <th class="text-center">Ações</th>
      </tr>

      <tr *ngFor="let produto of produtos">
        <td>{{ produto.nome }}</td>
        <td>{{ produto.codigoBarras }}</td>
        <td>{{ produto.preco }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info" (click)="AtualizarProdutoForm(produto.id)">
            Editar
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger"
                  (click)="ConfirmarDeletarProduto(produto.id, produto.nome, conteudoModal)">
            Excluir
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container p-5" *ngIf="showForm">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="form">
      <h6>{{ tituloForm }}</h6>
      <hr/>

      <form [formGroup]="form" (ngSubmit)="EnviarProdutoForm()">
        <div class="form-group">
          <label>Nome</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="nome"
            required
            minlength="3"
            maxlength="50"
            [class.is-invalid]="form.get('nome').invalid && (form.get('nome').dirty || form.get('nome').touched)"
            [class.is-valid]="form.get('nome').valid && (form.get('nome').dirty || form.get('nome').touched)"
          />
          <div class="error-message" *ngIf="form.get('nome').errors && (form.get('nome').dirty || form.get('nome').touched)">
            <div *ngIf="form.get('nome').hasError('required')">Nome é obrigatório.</div>
            <div *ngIf="form.get('nome').hasError('minlength')">Nome deve ter pelo menos 3 caracteres.</div>
            <div *ngIf="form.get('nome').hasError('maxlength')">Nome não pode ter mais de 50 caracteres.</div>
          </div>
        </div>

        <div class="form-group">
          <label>Código de Barras</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="codigoBarras"
            formatCodigoBarras
            required
            minlength="13"
            maxlength="50"
            [class.is-invalid]="form.get('codigoBarras').invalid && (form.get('codigoBarras').dirty || form.get('codigoBarras').touched)"
            [class.is-valid]="form.get('codigoBarras').valid && (form.get('codigoBarras').dirty || form.get('codigoBarras').touched)"
          />
        </div>
        <div class="error-message"
          *ngIf="form.get('codigoBarras').invalid && (form.get('codigoBarras').dirty || form.get('codigoBarras').touched)">
          <div *ngIf="form.get('codigoBarras').hasError('required')">Código de Barras é obrigatório.
          </div>
          <div *ngIf="form.get('codigoBarras').hasError('minlength')">Código de Barras deve ter pelo menos 13
            caracteres.
          </div>
          <div *ngIf="form.get('codigoBarras').hasError('maxlength')">Código de Barras não pode ter mais de 50
            caracteres.
          </div>
        </div>

        <div class="form-group">
          <label>Preço</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="preco"
            pattern="^[0-9]{1,3}(?:[.,][0-9]{3})*(?:[.,][0-9]{2})?$"
            formatMoney
            [class.is-invalid]="form.get('preco').invalid && (form.get('preco').dirty || form.get('preco').touched)"
            [class.is-valid]="form.get('preco').valid && (form.get('preco').dirty || form.get('preco').touched)"
          />
          <div class="error-message" *ngIf="form.get('preco').errors && (form.get('preco').dirty || form.get('preco').touched)">
            <div *ngIf="form.get('preco').hasError('required')">Preço é obrigatório.</div>
            <div *ngIf="form.get('preco').hasError('pattern')">Preço deve ser um número válido.</div>
            <div *ngIf="form.get('preco').hasError('min')">Preço deve ser maior ou igual a 0.</div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-primary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-secondary" (click)="Voltar()">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Prosseguir com a exclusão do {{nomeProduto}}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
    <button type="button" class="btn btn-outline-danger" (click)="DeletarProduto(id)">Sim</button>
  </div>
</ng-template>
